<div class="job-card">
  <a routerLink="/job/{{job.id}}" style="text-decoration: none;">
  <h2 class="job-title">{{ job.title }}</h2>
  <p class="job-description">{{ job.description }}</p>
  </a>
  <div class="job-footer">
    <p class="job-price">${{  job.budget }}</p>
  <div class="buttons">
  <ng-container *ngIf="user$ | async as user;">
    <ng-container *ngIf="user.pk === job.owner">
      <button (click)="editJob(job.id)">Edit</button>
      <button class="mx-1" (click)="deleteJob(job.id)">Delete</button>
    </ng-container>
    <ng-container *ngIf="user.pk !== job.owner">
      <button class="apply-now-button" routerLink="/submit-purposal/{{job.id}}">Bid Now</button>
    </ng-container>
  </ng-container>
  </div>
  </div>
</div>